.dashboard_title {
  text-align: center;
}

.dashboard_links {
  text-align: center;
  margin-bottom: 20px;
}

.robot-name {
  text-align: center;
}

.robot_description {
  font-size: 25px;
  text-align: center;
}

.robot-avatar {
  margin: 10px;
  max-width: 250px;
}

.index-robots {
  text-align: center;
}

.robot-index-buttons {
  display: flex;
  justify-content: space-around;
}

.robot-style {
  text-align: center;
}

.edit-button {
  margin-top: 30px;
}

.edit-robot-form {
  text-align: right;
}

.dashboard_button_display {
  display: flex;
  justify-content: flex-start;
}

.board-game {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 84px/normal "Anton", Helvetica, sans-serif;
  color: rgba(247,2,2,1);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: 5px 5px 0 rgb(255,210,23) , 10px 10px 0 rgb(90,199,255) , 15px 14px 0 rgb(255,210,23) , 20px 20px 0 rgb(90,199,255) ;
}
