<h1 class="dashboard_title"><strong>Welcome to Robot World</strong></h1>
<div class="dashboard_links row well">
  <a class ="col-md-6 col-sm-4" href="/robots">Robot World</a>
  <a class ="col-md-6 col-sm-4" href="/robots/new">New Robot</a>
</div>


<h4><em>Learn All About the Robots that are a part of Robot World below...</em></h4>

<p class="statistics col-md-4 col-sm-8">The average age of robots in robot world is currently <%= @robot_avg_age %>.</p>
<p class="statistics col-md-4 col-sm-8">THE AVERAGE AGE OF ROBO;asldknf;askdjgb</p>
<p class="statistics col-md-4 col-sm-8">as;dkjfha;sdlijfhal sjdhfal sjkdhf; askdjbflaskjdbagv;ksj db ;vaksjbdlvajsbd </p>
