<form action="/robots" method="post">
  <p>Enter a new robot:</p>
  <input type='text' name='robot[name]' placeholder="name"/><br/>
  <input type='text' name='robot[city]' placeholder="city"/><br/>
  <input type='text' name='robot[state]' placeholder="state"/><br/>
  <input type='text' name='robot[avatar]' placeholder="avatar"/><br/>
  <input type='text' name='robot[birthday]' placeholder="birthday"/><br/>
  <input type='text' name='robot[date_hired]' placeholder="date_hired"/><br/>
  <input type='text' name='robot[department]' placeholder="department"/><br/>
  <input type="submit" class="btn btn-success" value="Create Robot"/>
</form>
